body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  text-align: center;
}
.peers{
  display: flex!important;
  flex-direction: row;
  height: 200px;
  margin: 10px;
  padding: 10px;
}

.children{
  display: flex!important;
  flex-direction: row;
  height: 200px;
  margin: 10px;
  padding: 10px;
}

.parents{
  display: flex!important;
  flex-direction: row;
  height: 200px;
  margin: 10px;
  padding: 10px;
}
[type="member"]{
  width: 100px;
  height: 100px;
  margin: 10 10 10 10;
  padding: 10px;
  border: 1px solid rgba(122, 77, 226, 0.74);
  border-radius: 50%;
}


[type="member"]:hover{
  border: 3px solid rgba(89, 26, 236, 0.74);
}

input[type="text"]{
  width: 200px;
  border-radius: 10%;
  border-color: #84BFF0;
  margin:2px;
  padding: 2px;
  font-family: 'Times New Roman', Times, serif
}


input[type="password"]{
  width: 200px;
  border-radius: 10%;
  border-color: #84BFF0;
  margin:2px;
  padding: 2px;
  font-family: 'Times New Roman', Times, serif
}

label > input {
  display: inline;
}

.you{
  display: table-cell;
}

.family{
  left:30vw;
  height: 100vh;
  width: 50vw; 
}

.family-container{
  display: table;
}

.family-header{
  display: inline;
  text-align: center; 
}

.underliner{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 10px;
  background-color: darkblue;
  color:white;
}

.peeks{
  margin: 3px;
  padding: 3px;
}

i{
  margin: 2px;
}

i:hover{
  cursor: pointer;
}

.posts{
  display: table-cell;
}

.member:hover{
  cursor: pointer;
}